<div class="header-detail">
    <h2>DETALLE DE ENVÍO: {{order.delivery_date}}</h2>
    <img src="../static/img/jardin-organico.png" alt="">
</div>
<div class="shipping-section">
    <div>
        <p>{{order.name}} {{order.adress}}</p>
        <p>{{order.city}} {{order.cp}}</p>
    </div>
    <div class="order">
        <h4>ORDEN:</h4>
        <p>{{order.id}}</p>
    </div>
</div>
<div class="order-general">
    <div class="notes">
        <h4>COMENTARIOS:</h4>
        <p>{{order.notes}}</p>
    </div>
    <div class="price">
        <p>Precio del pedido: {{order.total}}</p>
        <p>Costo de envío: {{order.shipping_total}}</p>
        <p>Total:</p>
        <p>{{order.total}}</p>
    </div>
</div>
<div class="total_products">
    <h4>Cantidad de productos:</h5>
    <h4>{{order.total_products}}</h5>
</div>