<!DOCTYPE html>
<html>
<head>
    <title>Tabla de órdenes</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID de orden</th>
                <th>Cantidad de productos con categoría "Lácteos"</th>
            </tr>
        </thead>
        <tbody>
            {% for order in tabla_datos %}
                <tr>
                    <td>{{ order['id'] }}</td>
                    <td>{{ order['lacteos_count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>