{% extends "base.html" %} {% block title %}Sample{% endblock %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tablas</h1>
  <p class="mb-4">En esta sección se obtienen los resultados a partir de una busqueda por fecha de entrega para exportar en formato xlsx.</p>
      <div class="row justify-content-center">
        <form action="" method="GET">
          {% block select_filter %}{% endblock %}
          <label for="after" id="afterLabel">Fecha de entrega</label>
          <input class="form-control form-control-sm mt-1" type="date" id="after" name="after">
          <input class="btn btn-block btn-primary mt-1" type="submit" name="submit_button" value="Buscar">
          <button class="btn btn-secondary mt-1 mb-3" onclick="window.print()">Imprimir</button>
          <button class="btn btn-secondary mt-1 mb-3" onclick="ExportToExcel('xlsx')">Exportar</button>
      </form>
      <script>
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('dataTable');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Pedidos" });
            return dl ?
              XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
              XLSX.writeFile(wb, fn || ('Pedidos.' + (type || 'xlsx')));
         }
      </script>
      </div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listado de resultados</h6>
    </div>
    <div class="card-body">

      <div class="table-responsive" id="tbl_exporttable_to_xls">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Fecha de entrega</th>
              <th>Lácteos</th>
              <th>Congelados</th>
              <th>Huerta</th>
              <th>Plano número</th>
              <th>Plano letra</th>
              <th>Latitud</th>
              <th>Longitud</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>Código postal</th>
              <th>Teléfono</th>
              <th>Total</th>
              <th>Notas de cliente</th>
              <th>Método de pago</th>
            </tr>
          </thead>
          <tbody>
            {% if orders %}
            {% for order in orders %}
            <tr>
              <td>{{ order.id}}</td>
              <td>{{ order.delivery_date}}</td>
              <td>{{ order.lacteos_counter}}</td>
              <td>{{ order.freezer_counter}}</td>
              <td>{{ order.huerta}}</td>
              <td>{{ order.plano_numero}}</td>
              <td>{{ order.plano_letra}}</td>
              <td>{{ order.latitud}}</td>
              <td>{{ order.longitud}}</td>
              <td>{{ order.name}}</td>
              <td>{{ order.adress}}</td>
              <td>{{ order.city}}</td>
              <td>{{ order.cp}}</td>
              <td>{{ order.phone}}</td>
              <td>{{ order.total}}</td>
              <td>{{ order.notes}}</td>
              <td>{{ order.payment_method}}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}

{% block js %}
{{ super() }}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}