{% extends 'base.html' %}

{% block title %} Etiquetas {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="../static/css/tickets.css"> {% endblock %} {% block content %} 
{% include 'layout/filter.html' %}
{% if orders %}
<div class="details-container row mt-2 mb-1 ml-4 mr-4 justify-content-center">
    {% for order in orders %}
        <div class="table-container col-md-5 mb-1">
            <div class="ticket-container border border-dark text-center pt-3">
                <h2>{{order.name}}</h2>
                <p>{{order.id}}</p>
                <p>{{order.custom_shipping_date}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
