<style>
  /* Oculta todos los elementos excepto el contenedor que deseas imprimir */
</style>
<div class="row justify-content-center">
  <div class="filter-div">
    <form action="" method="GET">
      {% block select_filter %}{% endblock %}
      <label for="after" id="afterLabel">Fecha de entrega</label>
      <input class="form-control form-control-sm mt-1" type="date" id="after" name="after">
      <input class="btn btn-block btn-primary mt-1" type="submit" name="submit_button" value="Buscar">
  </form>
  <link rel="stylesheet" href="../../static/css/sb-admin-2.min.css">
  <button class="btn btn-secondary mt-1 mb-3" onclick="ExportToExcel('xlsx')">Exportar</button>
  <button id="printBtn" class="btn btn-secondary mt-1 mb-3" onclick="printContent()">Imprimir</button>
  </div>
<script>
  function printContent() {
    const urlParams = new URLSearchParams(window.location.search);
    const date = urlParams.get('after');

    const styles1 = document.createElement('link');
    styles1.rel = 'stylesheet';
    styles1.href = '../../static/css/details.css';
  
    const styles2 = document.createElement('link');
    styles2.rel = 'stylesheet';
    styles2.href = '../../static/vendor/fontawesome-free/css/all.min.css';
  
    const styles3 = document.createElement('link');
    styles3.rel = 'stylesheet';
    styles3.href = '../../static/css/sb-admin-2.min.css';
  
    styles1.onload = function() {
      styles2.onload = function() {
        const contenidoImprimir = document.querySelector('.details-container');
        const contenidoParaImprimir = contenidoImprimir.cloneNode(true);
        const tempDiv = document.createElement('div');
        tempDiv.appendChild(contenidoParaImprimir);
  
        const ventanaImpresion = window.open('', '_blank');
        const ventanaDocument = ventanaImpresion.document;
  
        // Agregar estilos para la impresión en paisaje
        const stylePrint = document.createElement('style');
        stylePrint.setAttribute('type', 'text/css');
        stylePrint.setAttribute('media', 'print');
        stylePrint.textContent = '@page { size: landscape; }';
        ventanaDocument.head.appendChild(stylePrint); // Agregar estilos para la impresión en paisaje
  
        ventanaDocument.head.innerHTML = '<title>Sin titulo</title>'; // Agrega un título opcional
        ventanaDocument.head.appendChild(styles1); // Agregar los estilos al head
        ventanaDocument.head.appendChild(styles2); // Agregar los estilos al head
        ventanaDocument.head.appendChild(styles3); // Agregar los estilos al head
  
        ventanaDocument.body.innerHTML = tempDiv.innerHTML; // Escribir el contenido en el body
  
        // Esperar un corto tiempo antes de imprimir para asegurarse de que los estilos se apliquen
        setTimeout(() => {
          ventanaImpresion.print();
          ventanaImpresion.close();
        }, 500); // Tiempo de espera (puedes ajustarlo según sea necesario)
      };
  
      document.head.appendChild(styles2); // Agregar los estilos al head para cargarlos
    };
  
    document.head.appendChild(styles1); // Agregar los estilos al head para cargarlos
  }
  
  
  
  

  function ExportToExcel(type, fn, dl) {
      var elt = document.getElementById('dataTable');
      var wb = XLSX.utils.table_to_book(elt, { sheet: "Pedidos" });
      return dl ?
        XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
        XLSX.writeFile(wb, fn || ('Pedidos.' + (type || 'xlsx')));
   }
</script>

</div>